.about-section {
    background-color: black;
}

.about-block {
    padding-top: 152px;
    padding-bottom: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-block {
    position: relative;
}

.img-block__top-elem {
    position: absolute;
    top: 200px;
    left: -100px;
    max-width: 619px;
    width: 100%;
    height: auto;
}

.img-block__second-elem{
    max-width: 502px;
    width: 100%;
    height: auto;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about__title {
    color: #FFFFFF;
}

.about__sub-title {
    padding: 0 0 30px;
    font-family: Outrun, SansSerif;
    font-size: 24pt;
    color: rgba(149, 167, 255, 255);
}

@media (max-width: 1600px) {
    .about{
        align-items: center;
    }
    .about-block {
        flex-direction: column;
        padding-bottom: 100px;
    }
    .img-block{
        display: flex;
        padding-bottom: 100px;
        flex-direction: column;
    }
    .img-block__top-elem{
        position: initial;
    }
}
