.description-section {
    padding-top: 266px;
    padding-bottom: 550px;
    background: url("../../../img/bg-3.jpeg") center/cover no-repeat;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description__title {
    color: #FFFFFF;
}
