.description-section {
    background-image: url("../../../img/bg-3.png");
    background-size: cover;
    backdrop-filter: brightness(0%);
}

.description-article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description-article__title {
    padding-top: 266px;
    color: #FFFFFF;
}

.description-article__content {
    padding-bottom: 300px;
}
