.join-our-section {
    padding-top: 322px;
    padding-bottom: 150px;
    background-image: url("../../../img/bg-section-1.png");
    background-size: cover;
}

.join-our {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-our__title {
    color: #ff0000;
}