.title {
    margin-bottom: 50px;
    font-family: Outrun, SansSerif;
    font-size: 40pt;
}

@media (max-width: 530px) {
    .title{
        font-size: 30pt;
    }
}

.content {
    max-width: 571px;
    width: 100%;
    font-size: 14pt;
    color: #FFFFFF;
    font-family: Montserrat, SansSerif;
    text-align: justify;
}