.title {
    font-family: Outrun, SansSerif;
    font-size: 40pt;
}

@media (max-width: 530px) {
    .title{
        font-size: 30pt;
    }
}

.content {
    max-width: 571px;
    width: 100%;
    padding-top: 63px;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    font-family: Montserrat,  SansSerif;
    text-align: justify;
}